<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'App/signup_style.css' %}" />
  </head>
  <body>
    <div class="form-container">
      <div class="title-container">
        <h1>Inscription</h1>
      </div>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} <!-- Affiche le formulaire avec les champs stylisés -->

        <button type="submit">S'inscrire</button>
      </form>

      {% if messages %}
        <div class="message">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </body>
</html>
